/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */

/* ion-page {
  --padding-top: 0px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
} */

.header-principal {
  font-weight: bold;
  font-size: xx-large;
}

.pregunta {
  margin-top: 0;
}

.sub-tiulos {
  font-weight: bold;
}